.board{
    display:grid;
    margin-left: auto;
    margin-right: auto;
    --color:aqua;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto auto auto;
    gap:calc(var(--boxside)*0.2);
    background-image: radial-gradient(circle,black, var(--color), black, var(--color), black, var(--color));
}
.board1{
    --color:aqua;
}
.board2{
    --color:red;
}
:root{
    --boxside:calc(min(1vh, 1vw)*20);
}
.wrapper{
    background-color: black;
    width: var(--boxside);
    outline: solid black;
    outline-width: calc(var(--boxside)*0.08);
    display:flex;
    align-items: center;
    justify-items: center;
}
.tile1,.tile0{
    text-align: center;
    --tile-color:aqua;
    vertical-align: middle;
    color: var(--tile-color);
    background-color: black;


    width: var(--boxside);
    height: var(--boxside);
    line-height: var(--boxside);
    font-size: var(--boxside);
    text-shadow: 0 0 calc(var(--boxside)*0.2) var(--tile-color);
    border-radius: calc(var(--boxside)*0.1);

    font-family: Arial;
    user-select: none;
    border: solid calc(var(--boxside)*0.01) white;
    border-collapse: collapse;
}
.tile2{
    text-align: center;
    --tile-color:red;
    vertical-align: middle;
    color: var(--tile-color);
    background-color: black;


    width: var(--boxside);
    height: var(--boxside);
    line-height: var(--boxside);
    font-size: var(--boxside);
    text-shadow: 0 0 calc(var(--boxside)*0.2) var(--tile-color);
    border-radius: calc(var(--boxside)*0.1);

    
    font-family: Arial;
    user-select: none;
    border: solid calc(var(--boxside)*0.01) white;
    border-collapse: collapse;
}
.tile0:hover, .tile2:hover, .tile1:hover{
    animation: expand 0.1s forwards;
}

@keyframes expand {
    100%{
        transform: scale(1.1);
    }
}
#app{
    width:100%;
    height:100%;
}
#gameArea{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#status{
    color:white;
    font-family: Verdana, sans-serif;
    font-size: 6vh;
}
.button1{
    background-color: rgb(0, 24, 27);
    padding: 1vh;
    border:solid white 0.1vh;
    color:white;
    border-radius: 0.5vh;
}
.loadbox{
    width:1vh;
    height:0vh;
    margin-left: 0.1vh;
    margin-right: 0.1vh;
    border-radius: 0.5vh;
    background-color: yellow;
    animation: LoadAnim 1s infinite;
}
#AiLoading{
    display: flex;
    align-items: center;
}
@keyframes LoadAnim {
    50%{
        height:2vh
    }
}
#TopBar{
    display: flex;
    align-content: space-between;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.textButton{
    user-select: none;
    font-size: 6vh;
}